#mainbody
{
    background-image:url(back.jpg);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
    border-width:10px;
    background-color: white; 
    border-style:ridge;
}

#div1 {
    padding-top: 200px;
}

#startbody {
    background-image:url(startb.jpg);
    background-position:center;
    background-size:cover;
}